/* still testing out designs and how to style this page. so style tbd */

body {
  /* background: linear-gradient(333deg, #2f3750, #6e7487, #b3b7c1, #6e7487,#2f3750) */
}

.outerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  

}

.map {
  width: 80%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 30px;
  box-shadow: 0.50rem 0.50rem rgba(16, 16, 16, 0.744),-0.50rem -0.50rem rgba(121, 108, 108, 0.803);
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
}
